@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Smooch+Sans:wght@600&display=swap');

body {
    background-color: #DECC2A;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    justify-content: center;
}

.main-headers {
    display: flex;
    flex-direction: column;
}

.title {
    background-color: red;
    border-radius: 10px;
    text-align: center;
    font-size: 4em;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
    font-family: Smooch Sans, Arial;
}

.playerName{
    border-radius: 10px;
    padding: 10px;
    height: 20px;
    background-color: white;
    border-style: none;
    
}
.getGame {
    background-color: #00D203;
    border-radius: 10px;
    text-align: center;
    font-size: 3em;
    padding: 15px;
    margin-top: 15px;
    font-family: Smooch Sans, Arial;
    border: none;
}

a {
    color:white;
    text-decoration: none;
}


.game-link a {
    text-decoration: none;
    color: white;
}

/* CSS for game.html */

.game-features {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.game-features button {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    font-family: Nunito, Helvetica;
    font-weight: bold;
    cursor: pointer;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    justify-content: center;
    font-family: Nunito, Helvetica;
}

.user-assist-features {
    font-size: 1.2em;
    display: flex;
    width: 35%;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgba(226, 230, 5, 0.4);
    border-radius: 10px;
    padding: 5px;
    align-items: baseline;
    font-family: Fredoka;
}

.game-question-answers  {
    font-size: 1.7em;
    text-align: center;
}

.game-answers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Fredoka;
}

#game-question-flag {
    margin: 10px 0 20px 0;
    font-family: Smooch Sans;
    font-size: 2em;
}


.game-question-answers .game-answers .option {
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    cursor: pointer;
    z-index: 5;
}

.game-question-answers .game-answers .option:hover{
    background-color: rgb(230, 216, 216);
}

.total-que span { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-que span p {
    padding: 0 10px;
}

.game-question-answers .game-answers .option.correct {
    background-color: rgb(50, 209, 50);
    color: white;
    font-weight: 500;
}

.game-question-answers .game-answers .option.incorrect {
    background-color: rgb(238, 12, 12);
    color: white;
    font-weight: 500;
}

.game-question-answers .game-answers .option.disabled {
    pointer-events: none;
}

.home-next-restart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    font-size: 1.5em;
    background-color: rgba(226, 230, 5, 0.4);
    border-radius: 10px;
    padding: 5px;
    z-index: 10;
}

.home-next-restart .next-button {
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    display: none;
    font-family: Smooch Sans;
}

#restart-button:hover {
    cursor: pointer;
}

/* Styling for pop up box*/
#rules-message-box {
    background-color: #fce304;
    width: 500px;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}
.rules h1 {
    font-family: Smooch sans;
}
.rules ul {
    text-align: left;
    font-family: Fredoka;
 }

.rules-close-button {
    color: black;
    background-color: white;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    font-family: Fredoka;
}

.rules-close-button:hover {
    background-color: black;
    color: white;
}
 /* Style for results box, end of game*/

.timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 20px;
    background-color: rgb(65 164 243);
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    border: solid 2px;
}

.timer .time-text {
    font-weight: 200;
}

.timer .timer-sec {
    font-weight: 500;
    background-color: white;
    border-radius: 10px;
    width: 45px;
    text-align: center;
    color: black;

}

.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0023DB;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    border-style: solid;
    border-color: #0023DB;
    opacity: 0;
    font-family: Smooch Sans;
    color: #fdfd77;
}

.result-box .complete-text{
    font-weight: 600;
}

.result-box.activeResult{
    z-index: 15;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.end-game-buttons button{
    color: black;
    background-color: white;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    font-family: Fredoka;
}

.end-game-buttons button:hover {
    background-color: black;
    color: white;
}

/*Responsive design for screen sizes*/

@media only screen and (min-width: 1300px){
    .container {
        width: 60%;
        transform: scale(1.5);
        margin: 0 auto;
        margin-top: 25vh;
}
.container2 {
    transform: scale(1.5);
    margin-top: 20vh;
}
}

@media only screen and (min-width: 1042px){
    .user-assist-features, .home-next-restart {
        width: 50%;
    }
}

@media only screen and (max-width: 900px){
    .user-assist-features, .home-next-restart {
        width: 65%;
    }
}


@media only screen and (max-width: 690px){
    .user-assist-features, .home-next-restart {
        width: 65%;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        transform: scale(0.9);
        margin-top: 7vh;
    }
    #rules-message-box{
        width: 70%;
    }

    .user-assist-features, .home-next-restart  {
        width: 100%;
    }

    .result-box {
        width: 75%;
    }
}